@layer icons {
    *:has(> .icon) {
        line-height: 1.5;
    }
    .icon {
        --base-ratio: 1.5rem;
        --icon-color: currentColor;
        --outline-width: 0.25rem;
        --outline-width-coefficient: 0.075;

        width: var(--base-ratio);
        min-height: var(--base-ratio);
        line-height: 1;
        display: inline-grid;
        vertical-align: bottom;
        background-color: transparent;
        outline: var(--icon-color) none var(--outline-width);
        outline-offset: calc( (var(--outline-width) - 0.5rem) * -1);
        &::after{
            background-color: var(--icon-color);
        }
        &.color-accent{
            --icon-color: var(--color-accent);
        }
        &.color-accent-hover::after {
            background-color: var(--color-accent-hover);
        }
        &.color-surface::after {
            background-color: var(--color-surface);
        }
        &.color-accent-bright::after {
            background-color: var(--color-accent-bright);
        }
        &.color-border::after {
            background-color: var(--color-border);
        }
        &.color-secondary::after {
            background-color: var(--color-secondary);
        }
        &.color-text::after {
            background-color: var(--color-text);
        }

        &.color-danger::after {
            background-color: var(--color-utility-danger);
        }
        &.color-warning::after {
            background-color: var(--color-utility-warning);
        }
        &.color-info::after {
            background-color: var(--color-utility-info);
        }
        &.color-success::after {
            background-color: var(--color-utility-success);
        }


        /** Icon Sizes **/
        &.x1-5 { /** 24px **/
            --size-coefficient: 1.5;
            width: calc(var(--base-ratio) * var(--size-coefficient));
            height: calc(var(--base-ratio) * var(--size-coefficient));
            --outline-width: calc((var(--base-ratio) * var(--size-coefficient)) * (var(--outline-width-coefficient)));
        }
        &.x2 { /** 32px **/
            --size-coefficient: 2;
            width: calc(var(--base-ratio) * var(--size-coefficient));
            height: calc(var(--base-ratio) * var(--size-coefficient));
            --outline-width: calc((var(--base-ratio) * var(--size-coefficient)) * (var(--outline-width-coefficient)));
        }
        &.x3 { /** 48px **/
            --size-coefficient: 3;
            width: calc(var(--base-ratio) * var(--size-coefficient));
            height: calc(var(--base-ratio) * var(--size-coefficient));
            --outline-width: calc((var(--base-ratio) * var(--size-coefficient)) * (var(--outline-width-coefficient)));

        }
        &.x4 { /** 64px **/
            --size-coefficient: 4;
            width: calc(var(--base-ratio) * var(--size-coefficient));
            height: calc(var(--base-ratio) * var(--size-coefficient));
            --outline-width: calc((var(--base-ratio) * var(--size-coefficient)) * (var(--outline-width-coefficient)));

        }
        &.x5 { /** 80px **/
            --size-coefficient: 5;
            width: calc(var(--base-ratio) * var(--size-coefficient));
            height: calc(var(--base-ratio) * var(--size-coefficient));
            --outline-width: calc((var(--base-ratio) * var(--size-coefficient)) * (var(--outline-width-coefficient)));
        }
        &.x6 { /** 96px **/
            --size-coefficient: 6;
            width: calc(var(--base-ratio) * var(--size-coefficient));
            height: calc(var(--base-ratio) * var(--size-coefficient));
            --outline-width: calc((var(--base-ratio) * var(--size-coefficient)) * (var(--outline-width-coefficient)));
        }

        /** Set up the actual icons now **/
        &::after{
            width: inherit;
            height: inherit;
            display: inline-block;
            content: " ";
            mask-size: contain;
        }
        /** Icon Library **/
        &.arrow::after {
            mask-image: url('../assets/icons/arrow.svg');
        }
        &.bin::after {
            mask-image: url('../assets/icons/bin.svg');
        }
        &.caret::after {
            mask-image: url('../assets/icons/caret.svg');
        }
        &.check::after {
            mask-image: url('../assets/icons/check.svg');
        }
        &.chevron::after {
            mask-image: url('../assets/icons/chevron.svg');
        }
        &.cog::after {
            mask-image: url('../assets/icons/cog.svg');
        }
        &.cube::after {
            mask-image: url('../assets/icons/cube.svg');
        }
        &.danger::after {
            mask-image: url('../assets/icons/danger.svg');
        }
        &.database::after {
            mask-image: url('../assets/icons/database.svg');
        }
        &.document::after {
            mask-image: url('../assets/icons/document.svg');
        }
        &.download::after {
            mask-image: url('../assets/icons/download.svg');
        }
        &.error::after {
            mask-image: url('../assets/icons/error.svg');
        }
        &.info::after {
            mask-image: url('../assets/icons/info.svg');
        }
        &.layers::after {
            mask-image: url('../assets/icons/layers.svg');
        }
        &.leaf::after {
            mask-image: url('../assets/icons/leaf.svg');
        }
        &.login::after {
            mask-image: url('../assets/icons/login.svg');
        }
        &.logout::after {
            mask-image: url('../assets/icons/logout.svg');
        }
        &.mail::after {
            mask-image: url('../assets/icons/mail.svg');
        }
        &.menu::after {
            mask-image: url('../assets/icons/menu.svg');
        }
        &.minus::after {
            mask-image: url('../assets/icons/minus.svg');
        }
        &.outbound::after {
            mask-image: url('../assets/icons/outbound.svg');
        }
        &.pdf::after {
            mask-image: url('../assets/icons/pdf.svg');
        }
        &.pencil::after {
            mask-image: url('../assets/icons/pencil.svg');
        }
        &.plus::after {
            mask-image: url('../assets/icons/plus.svg');
        }
        &.puzzle::after {
            mask-image: url('../assets/icons/puzzle.svg');
        }
        &.question::after {
            mask-image: url('../assets/icons/question.svg');
        }
        &.save::after {
            mask-image: url('../assets/icons/save.svg');
        }
        &.search::after {
            mask-image: url('../assets/icons/search.svg');
        }
        &.spreadsheet::after {
            mask-image: url('../assets/icons/spreadsheet.svg');
        }
        &.times::after {
            mask-image: url('../assets/icons/times.svg');
        }
        &.user::after {
            mask-image: url('../assets/icons/user.svg');
        }
        &.image::after {
            mask-image: url('../assets/icons/image.svg');
        }
        &.view::after {
            mask-image: url('../assets/icons/view.svg');
        }
        &.cli::after {
            mask-image: url('../assets/icons/cli.svg');
        }
        &.padlock::after {
            mask-image: url('../assets/icons/padlock.svg');
        }
        &.routes::after {
            mask-image: url('../assets/icons/routes.svg');
        }
        &.api::after {
            mask-image: url('../assets/icons/api.svg');
        }
        &.path::after {
            mask-image: url('../assets/icons/path.svg');
        }

        /** Transforms - use these instead of another icon file. */
        &.r30::after{
            transform: rotate(30deg);
        }
        &.r45::after {
            transform: rotate(45deg);
        }
        &.r60::after {
            transform: rotate(60deg);
        }
        &.r90::after {
            transform: rotate(90deg);
        }
        &.r120::after {
            transform: rotate(120deg);
        }
        &.r135::after {
            transform: rotate(135deg);
        }
        &.r150::after {
            transform: rotate(150deg);
        }
        &.r180::after {
            transform: rotate(180deg);
        }
        &.r210::after {
            transform: rotate(210deg);
        }
        &.r225::after {
            transform: rotate(225deg);
        }
        &.r240::after {
            transform: rotate(240deg);
        }
        &.r270::after {
            transform: rotate(270deg);
        }
        &.r300::after {
            transform: rotate(300deg);
        }
        &.r315::after {
            transform: rotate(315deg);
        }
        &.r330::after {
            transform: rotate(330deg);
        }

        /** Borders **/
        &.squared {
            outline-style: solid;
        }
        &.circled {
            outline-style: solid;
            border: 0 solid transparent;
            border-radius: 50%;
        }
        &.squircled {
            outline-style: solid;
            border: 0 solid transparent;
            border-radius: calc(var(--outline-width) * 6);
            corner-shape: squircle;
        }
    }
}