# Application params
APPNAME='Loom73'
CODENAME='LM73'
APPURL=''
DEFAULT_CONTROLLER='main'
DEFAULT_METHOD='index'

# Toggle Debug - Set to 0 for production
DEBUG=1
# System Status - change for production
SYSTEM_STATUS='development'

# Database connection
DBTYPE='mysql'
DBHOST='localhost'
DBUSER=''
DBPASS=''
DBNAME=''
DBPORT='3306'

# Locale & Timezone Settings
TMZ='Europe/Rome'
LOCALE='en'

# Salts & Keys
SESSION_SALT=''
SESSION_KEY=''

# SMTP Params for Emailing w/PHPMailer
APPEMAIL=''
MAIL_SMTP_HOST=''
MAIL_SMTP_USERNAME=''
MAIL_SMTP_PASSWORD=''
MAIL_SMTP_PORT=587

# Storage
# View /config/modules/yarn.php for more options
YARN_STORAGE_PATH=/var/www/project/storage
YARN_UPLOAD_PATH=uploads
YARN_MAX_UPLOAD_SIZE=10485760
# Allow unauthenticated delivery of assets marked as public
YARN_PUBLIC_DELIVERY_ENABLED=false
# Default Visibility of the assets
YARN_DEFAULT_VISIBILITY=private
# Decide how Yarn should organize the directories
YARN_DIRECTORY_STRATEGY=date

